@mixin flexCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');

$primary: #fd83ed;
$effect: cubic-bezier(0.25, 1, 0.5, 1);

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	background-color: rgb(16, 16, 16);
}

#home {
	height: 100vh;
}

nav {
	z-index: 10;
	position: fixed;
	width: 100%;
	height: 50px;
	background-color: rgb(10, 10, 10);

	.nav-links {
		height: 100%;
		width: 60%;
		margin: 0 auto;
		@include flexCenter();
	}

	li {
		margin: 0px 120px;
		height: 100%;
		border-left: 2px solid $primary;
		list-style: none;
		align-items: center;
		display: flex;
		padding: 0px 20px;
	}

	a {
		color: white;
		text-decoration: none;

		i {
			font-size: 18px;

			&:hover {
				transform: scale(1.1);
				transition: 200ms;
				color: $primary;
			}
		}
	}
}

.home-container {
	font-family: 'Montserrat', sans-serif;
	margin: 0 auto;
	height: 100%;
	width: 80%;
	@include flexCenter();
	flex-direction: column;

	h1 {
		color: white;
		font-size: 90px;
	}

	p {
		color: $primary;
		font-size: 24px;
	}
}

.social-links {
	position: fixed;
	bottom: 0;
	left: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 10;

	.line {
		background-color: rgb(245, 245, 245);
		width: 2px;
		height: 90px;
		margin-top: 15px;
	}

	i {
		color: rgb(245, 245, 245);
		margin: 15px 0px;
		&:hover {
			transform: scale(1.1);
			transition: 200ms;
			color: $primary;
		}
	}
}

#preloader {
	background-color: rgb(14, 14, 14);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	width: 100%;
	height: 100%;
}
#loader {
	display: block;
	position: relative;
	left: 50%;
	top: 50%;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #9370db;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}
#loader:before {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #ba55d3;
	animation: spin 3s linear infinite;
}
#loader:after {
	content: "";
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #ff00ff;
	animation: spin 1.5s linear infinite;
}

#portfolio {
	margin: 60px 0px;
	h1 {
		font-weight: 200;
		font-size: 50px;
		text-align: center;
		color: white;
	}

	.cards {
		justify-items: center;
		margin: 50px auto;
		width: 80%;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}

	.card {
		overflow: hidden;
		height: auto;
		width: 400px;
		margin: 60px 30px;
		display: flex;
		flex-direction: column;
		border-radius: 20px;
		background-color: rgb(32, 32, 32);
		.card-body {
			padding: 30px 40px;
			height: 30%;
			color: white;
			h2 {
				font-weight: 400;
				font-size: 24px;
			}

			p {
				margin: 10px 0px 20px 0px;
				font-weight: 200;
				font-size: 17px;
			}
		}
		.card-background {
			height: 205px;
			img {
				height: 100%;
				width: 100%;
				background-size: contain;
				background-size: cover;
				background-position: center;
			}
		}

		.card-buttons {
			p {
				display: inline;
				margin-left: 10px;
				a {
					color: $primary;
					font-size: 15px;
					text-decoration: none;
					transition: 200ms;

					&:hover {
						color: white;
					}
				}
			}
		}
	}
}

#about {
	h1 {
		margin-bottom: 50px;
		font-weight: 200;
		font-size: 50px;
		text-align: center;
		color: white;
	}
	margin: 250px 0px;
}

.about-container {
	margin: 200px auto;
	width: 50%;
	display: flex;
	justify-content: space-between;

	.about-me {
		width: 40%;
	}

	.about-story {
		width: 45%;
		text-align: center;
		color: white;
		p {
			font-size: 18px;
			font-weight: 100;
			margin-bottom: 10px;
		}
	}
	.about-card {
		padding: 30px 0 40px;
		margin-bottom: 30px;
		background-color: rgb(32, 32, 32);
		border-radius: 25px;
		text-align: center;
		overflow: hidden;
		position: relative;

		.picture {
			display: inline-block;
			height: 130px;
			width: 130px;
			margin-bottom: 50px;
			z-index: 1;
			position: relative;
		}

		.picture::before {
			content: "";
			width: 100%;
			height: 0;
			border-radius: 50%;
			background-color: $primary;
			position: absolute;
			bottom: 135%;
			right: 0;
			left: 0;
			opacity: 0.9;
			transform: scale(3);
			transition: all 0.3s linear 0s;
		}

		&:hover .picture::before {
			height: 100%;
		}

		.picture::after {
			content: "";
			width: 100%;
			height: 100%;
			border-radius: 50%;
			background-color: $primary;
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
		}

		.picture img {
			width: 100%;
			height: 100%;
			border-radius: 50%;
			transform: scale(1);
			transition: all 0.9s ease 0s;
		}
		.social {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 50px;
			width: 100%;
			padding: 10px;
			margin: 0;
			background-color: rgba($color: $primary, $alpha: 0.7);
			position: absolute;
			bottom: -100px;
			left: 0;
			transition: all 0.5s ease 0s;

			li {
				margin: 0px 10px;
				display: inline-block;

				a {
					font-size: 17px;
					color: white;
					transition: all 0.3s ease 0s;
					text-decoration: none;

					i:hover {
						color: white !important;
						transform: scale(1.2);
					}
				}
			}
		}

		&:hover .social {
			bottom: 0;
		}

		&:hover .picture img {
			box-shadow: 0 0 0 14px #f7f5ec;
			transform: scale(0.7);
		}

		.name {
			font-size: 28px;
			font-weight: 400;
			color: white;
		}

		.title {
			display: block;
			font-size: 18px;
			font-weight: 100;
			color: #e2e2e2;
			text-transform: capitalize;
		}
	}

	.skills {
		text-align: center;
		i {
			margin: 20px 30px;
			font-size: 30px;
		}
	}
}

#contact {
	margin: 250px 0px;
	h1 {
		font-weight: 200;
		font-size: 50px;
		text-align: center;
		color: white;
	}

	.contact-container {
		width: 60%;
		display: flex;
		margin: 100px auto;
		color: white;
		font-weight: 100;

		.contact-info,
		.form {
			width: 50%;
		}
		.contact-info {
			text-align: center;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			div {
				margin: 60px 0px;
			}
			h2 {
				margin-bottom: 30px;
				font-size: 30px;
			}
			h4,
			i {
				font-size: 23px;
			}
			h4,
			h2 {
				font-weight: 300;
			}

			i {
				font-size: 18px;
			}
		}

		.form {
			.slide {
				margin-top: 20px;
			}
			display: flex;
			justify-content: center;
		}
		form div {
			margin: 20px 0;
			width: 90%;

			label {
				margin-bottom: 10px;
				font-size: 18px;
				color: #e6e6e6;
				display: block;
			}
			input,
			textarea {
				padding: 20px;
				height: 52px;
				background: none;
				color: white;
				border: none;
				font-size: 18px;
				border-bottom: 2px solid $primary;
				border-radius: 5px;
				width: 100%;
				box-shadow: none;
			}

			textarea {
				height: 200px;
				resize: none;
			}
		}
	}
}

footer {
	margin-top: 200px;
	position: static;

	background-color: rgb(10, 10, 10);
	height: 50px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	h2 {
		font-size: 15px;
		font-weight: 100;
	}
}
// Classes

.slide {
	border: 2px solid $primary;
	border-radius: 30px;
	padding: 5px 15px;
	background-color: rgba($color: #000000, $alpha: 0);
	display: inline;
	transition: all .3s;
	position: relative;
	overflow: hidden;
	z-index: 1;
	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -2;
	}
	&:before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0%;
		height: 100%;
		background-color: $primary;
		transition: all .3s;
		z-index: -1;
	}
	&:hover {
		&:before {
			width: 100%;
		}
	}
	a {
		font-size: 17px;
		text-decoration: none;
		color: white;
	}
}

.glitch {
	position: relative;
}
.glitch::before {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	left: 2px;
	text-shadow: -2px 0 #00b7ff;
	clip: rect(44px, 450px, 56px, 0);
	animation: glitch-anim 4s infinite linear alternate-reverse;
}
.glitch::after {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	left: -2px;
	text-shadow: -2px 0 $primary, 2px 2px #ebdf44;
	animation: glitch-anim2 2s infinite linear alternate-reverse;
}

@keyframes glitch-anim {
	0% {
		clip: rect(70px, 9999px, 98px, 0);
		transform: skew(0.67deg);
	}
	5% {
		clip: rect(88px, 9999px, 41px, 0);
		transform: skew(0.81deg);
	}
	10% {
		clip: rect(38px, 9999px, 36px, 0);
		transform: skew(0.4deg);
	}
	15% {
		clip: rect(57px, 9999px, 60px, 0);
		transform: skew(0.96deg);
	}
	20% {
		clip: rect(46px, 9999px, 27px, 0);
		transform: skew(0.74deg);
	}
	25% {
		clip: rect(68px, 9999px, 49px, 0);
		transform: skew(0.36deg);
	}
	30% {
		clip: rect(6px, 9999px, 8px, 0);
		transform: skew(0.5deg);
	}
	35% {
		clip: rect(99px, 9999px, 66px, 0);
		transform: skew(0.8deg);
	}
	40% {
		clip: rect(33px, 9999px, 25px, 0);
		transform: skew(0.01deg);
	}
	45% {
		clip: rect(76px, 9999px, 40px, 0);
		transform: skew(0.6deg);
	}
	50% {
		clip: rect(67px, 9999px, 51px, 0);
		transform: skew(0.62deg);
	}
	55% {
		clip: rect(35px, 9999px, 27px, 0);
		transform: skew(0.44deg);
	}
	60% {
		clip: rect(57px, 9999px, 42px, 0);
		transform: skew(0.27deg);
	}
	65% {
		clip: rect(35px, 9999px, 80px, 0);
		transform: skew(0.76deg);
	}
	70% {
		clip: rect(40px, 9999px, 73px, 0);
		transform: skew(0.87deg);
	}
	75% {
		clip: rect(64px, 9999px, 99px, 0);
		transform: skew(0.9deg);
	}
	80% {
		clip: rect(40px, 9999px, 24px, 0);
		transform: skew(0.34deg);
	}
	85% {
		clip: rect(20px, 9999px, 36px, 0);
		transform: skew(0.91deg);
	}
	90% {
		clip: rect(78px, 9999px, 3px, 0);
		transform: skew(0.62deg);
	}
	95% {
		clip: rect(33px, 9999px, 56px, 0);
		transform: skew(0.55deg);
	}
	100% {
		clip: rect(42px, 9999px, 18px, 0);
		transform: skew(0.57deg);
	}
}
@keyframes glitch-anim2 {
	0% {
		clip: rect(83px, 9999px, 92px, 0);
		transform: skew(0.71deg);
	}
	5% {
		clip: rect(37px, 9999px, 47px, 0);
		transform: skew(0.82deg);
	}
	10% {
		clip: rect(94px, 9999px, 23px, 0);
		transform: skew(0.14deg);
	}
	15% {
		clip: rect(64px, 9999px, 47px, 0);
		transform: skew(0.95deg);
	}
	20% {
		clip: rect(81px, 9999px, 55px, 0);
		transform: skew(0.54deg);
	}
	25% {
		clip: rect(44px, 9999px, 86px, 0);
		transform: skew(0.15deg);
	}
	30% {
		clip: rect(87px, 9999px, 57px, 0);
		transform: skew(0.2deg);
	}
	35% {
		clip: rect(87px, 9999px, 51px, 0);
		transform: skew(0.14deg);
	}
	40% {
		clip: rect(20px, 9999px, 30px, 0);
		transform: skew(0.88deg);
	}
	45% {
		clip: rect(14px, 9999px, 58px, 0);
		transform: skew(0.93deg);
	}
	50% {
		clip: rect(88px, 9999px, 85px, 0);
		transform: skew(0.36deg);
	}
	55% {
		clip: rect(13px, 9999px, 31px, 0);
		transform: skew(0.55deg);
	}
	60% {
		clip: rect(20px, 9999px, 84px, 0);
		transform: skew(0.64deg);
	}
	65% {
		clip: rect(28px, 9999px, 76px, 0);
		transform: skew(0.96deg);
	}
	70% {
		clip: rect(24px, 9999px, 62px, 0);
		transform: skew(0.81deg);
	}
	75% {
		clip: rect(23px, 9999px, 13px, 0);
		transform: skew(0.86deg);
	}
	80% {
		clip: rect(86px, 9999px, 50px, 0);
		transform: skew(0.89deg);
	}
	85% {
		clip: rect(1px, 9999px, 17px, 0);
		transform: skew(0.31deg);
	}
	90% {
		clip: rect(66px, 9999px, 86px, 0);
		transform: skew(0.33deg);
	}
	95% {
		clip: rect(51px, 9999px, 6px, 0);
		transform: skew(0.61deg);
	}
	100% {
		clip: rect(22px, 9999px, 60px, 0);
		transform: skew(0.87deg);
	}
}
@keyframes glitch-skew {
	0% {
		transform: skew(-4deg);
	}
	10% {
		transform: skew(4deg);
	}
	20% {
		transform: skew(-1deg);
	}
	30% {
		transform: skew(1deg);
	}
	40% {
		transform: skew(1deg);
	}
	50% {
		transform: skew(-1deg);
	}
	60% {
		transform: skew(-3deg);
	}
	70% {
		transform: skew(-1deg);
	}
	80% {
		transform: skew(5deg);
	}
	90% {
		transform: skew(1deg);
	}
	100% {
		transform: skew(3deg);
	}
}

@-webkit-keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.lines {
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	margin: auto;
	width: 90vw;

	.line {
		position: absolute;
		width: 1px;
		height: 100%;
		top: 0;
		left: 50%;
		background: rgba(175, 175, 175, 0.1);
		overflow: hidden;

		&:after {
			content: "";
			display: block;
			position: absolute;
			height: 15vh;
			width: 100%;
			top: -50%;
			left: 0;
			background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, $primary 75%, #ffffff 100%);
			animation: run 5s 0s infinite;
			animation-fill-mode: forwards;
			animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
		}
	}
}

.lines .line:nth-child(1) {
	margin-left: -33%;
}
.lines .line:nth-child(1)::after {
	animation-delay: 2s;
}
.lines .line:nth-child(3) {
	margin-left: 33%;
}
.lines .line:nth-child(3)::after {
	animation-delay: 2.5s;
}

@keyframes run {
	0% {
		top: -50%;
	}
	100% {
		top: 110%;
	}
}

@media all and(min-width:2900px) {
	#contact .contact-container {
		.contact-info {
			div {
				margin: 120px 0px;
			}
			h2 {
				margin-bottom: 60px;
				font-size: 60px;
			}
			h4,
			i {
				font-size: 43px;
			}
			h4,
			h2 {
				font-weight: 300;
			}

			i {
				font-size: 36px;
			}

			p {
				font-size: 32px;
			}
		}

		form {
			width: 80%;

			div {
				width: 100%;

				input,
				label,
				textarea {
					margin-bottom: 20px;
					font-size: 36px;
				}
			}

			.slide {
				padding: 10px 20px;
				a {
					font-size: 30px;
				}
			}
		}
	}
	footer {
		height: 100px;
		h2 {
			font-size: 30px;
			font-weight: 100;
		}
	}
	#about {
		h1 {
			font-size: 100px;
		}

		.about-container {
			margin-top: 250px;
		}

		.about-card {
			height: 500px;
			justify-content: center;
			align-items: center;
			display: flex;
			flex-direction: column;

			.picture {
				height: 230px;
				width: 230px;
			}

			.name {
				font-size: 40px;
			}
			.title {
				font-size: 25px;
			}
		}

		.about-story {
			margin-left: 150px;

			p {
				font-size: 40px;
			}

			.skills i {
				font-size: 45px;
			}
		}
	}
	#portfolio {
		h1 {
			font-size: 100px;
		}

		.cards {
			.card {
				width: 800px;
			}

			.card-background {
				height: 500px;
			}

			.card-body {
				padding: 50px;
				color: white;
				h2 {
					font-size: 50px;
				}

				p {
					font-size: 36px;
				}

				.card-buttons {
					.slide {
						padding: 15px 30px;
						a {
							font-size: 30px;
						}
					}
					p {
						margin-left: 25px;
						a {
							font-size: 30px;
						}
					}
				}
			}
		}
	}
	.social-links {
		i {
			font-size: 30px;
			margin: 25px 0PX;
		}
		.line {
			margin-top: 20px;
		}
	}

	#home {
		nav {
			height: 100px;
		}
		.home-container {
			h1 {
				text-align: center;
				font-size: 120px;
			}

			p {
				font-size: 47px;
			}
		}

		.nav-links {
			li {
				padding: 0px 50px;
				i {
					font-size: 38px;
				}
			}
		}
	}
}
@media all and(max-width:1600px) {
	#portfolio {
		.cards {
			margin: 50px auto;
			width: 90%;
			justify-content: center;
			grid-template-columns: repeat(2, 1fr);
		}
	}
}
@media all and(max-width:1200px) {
	#about {
		.about-container {
			width: 90%;
		}
	}
	#home {
		.home-container {
			h1 {
				text-align: center;
				font-size: 46px;
			}

			p {
				font-size: 27px;
			}
		}

		.nav-links {
			li {
				margin: 0px 40px;
				padding: 0px 15px;
			}
		}
	}
}
@media all and(max-width:768px) {
	#contact {
		.contact-container {
			width: 90%;
			flex-direction: column;

			.contact-info,
			.form {
				align-items: center;
				width: 100%;

				div {
					width: 100%;
				}
			}
		}
	}

	#portfolio {
		.cards {
			margin: 50px auto;
			width: 90%;
			justify-content: center;
			grid-template-columns: repeat(1, 1fr);

			.card {
				width: 100%;
				.card-background {
					height: 200px;
				}
			}
		}
	}

	#home {
		.home-container {
			h1 {
				text-align: center;
				font-size: 26px;
			}

			p {
				font-size: 17px;
			}
		}

		.nav-links {
			li {
				margin: 0px 15px;
				padding: 0px 15px;
				border: none;
				border-bottom: 2px solid $primary;
			}
		}
	}

	#about {
		.about-container {
			width: 90%;
			flex-direction: column;

			.about-me,
			.about-story {
				width: 100%;
			}
		}
	}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	#portfolio {
		.cards {
			margin: 50px auto;
			width: 90%;
			justify-content: center;
			grid-template-columns: repeat(2, 1fr);

			.card {
				width: fit-content;
			}
		}
	}
}
